<script>
    var list = document.getElementById("list")
    fetch('/collection/list')
</script>
<div>
    <div id="list"></div>
    <form action="">
        <label for="name">Document Name</label><br>
        <input type="text" id="name" name="name"><br>
        <input type="submit">
    </form>
</div>